:root {
    --slider-width: 70vw;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e90ff;
    border-radius: 8px;
    color: white;
    width: 35vw;
    margin-top: 5vh;
    padding: 1vh 0px 1vh 0px;
    text-align: center;
    box-shadow: 2px 2px 4px #888;
    font-size: 1.3em;
    font-weight: 500;
}

.button-container {
    display: flex;
    /* background: blue; */
    flex-direction: row;
    justify-content: space-evenly;
}

.weather-choose-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-choose-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1vh;
}

.weather-choose-option {
    display: flex;
    background: rgba(100, 100, 100, 0.1);
    justify-content: center;
    align-items: center;
    border-radius: 3.5em;
    color: white;
    width: 12vw;
    height: 12vh;
    margin-top: 8vh;
    padding: .5vh 0px .5vh 0px;
    text-align: center;
}

.weather-choose-option-focus {
    background: rgb(30,144,255);
    background: linear-gradient(180deg, rgba(30,144,255,1) 0%, rgba(2,0,36,1) 100%);
}


.weather-rhombus-container {
    width: 20vw;
    position: absolute;
    left: 20vw;
    height: 18vh;
    background: rgba(100, 100, 100, 1);
    z-index: 2;
    transform: rotate(90deg, 0, 90deg) scale(1, -1);
    border-radius: 25px 0px 0px 0px;
}

.weather-rhombus-container-bottom {
    transform: skew(20deg);
    position: absolute;
    left: 4.1vw;
    width: 20vw;
    height: 20vh;
    background: rgba(100, 100, 100);
    transform: skew(-20deg);
    border-radius: 25px;
}

.weather-slider {
    width: var(--slider-width);
}

.weather-slider-text {
    width: var(--slider-width);
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1vh;
}

.slider-container{
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    align-items: center;
}

.book-button {
    background: rgb(30,144,255);
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 20vw;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
}


ion-range {
    --bar-background: #a2d2ff;
    --bar-background-active: #000;
    --bar-height: 8px;
    --bar-border-radius: 8px;
    --knob-background: #888;
    --knob-size: 40px;
    --pin-background: #eee;
    --pin-color: #fff;
}
