.booking-details-image-card {
  outline-style: solid;
  width: 90vw;
  color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
}

.booking-details-image-details {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  padding-top: 1rem;
}

.booking-details-image-details__title {
  font-weight: bold;
}

.booking-details-image-details__subtitle {
  color: #5f5f5f;
}

.booking-details-image-img-container {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.booking-details-image-img {
  width: 100%;
}
