.share-card {
  text-align: left;
  border-radius: 10px;
  color: black;
  margin-top: 2rem;
  background-image: url("../../assets/share_booking_banner.png");
  background-size: cover;
  position: relative;
  background-position: left 70% top 1rem;
  white-space: normal;
  padding: 1rem 0.8rem;
  background-color: #addec9;
  background-repeat: no-repeat;
}

.share-card__title {
  font-size: 1rem;
  font-weight: bolder;
  width: 70%;
}

.share-button {
  border-radius: 20px;
  font-weight: bolder;
  color: black;
  --background: white;
  --border-radius: 20px;
}
