ion-content {
  --background: transparent;
  --background: linear-gradient(
      180deg,
      #a8c8ed 0%,
      rgba(118, 115, 220, 0.4) 100%
    ),
    #ffffff;
  /* --background: #333; */
  /* --offset-top: 0; */
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  width: 35vw;
  text-align: center;
  box-shadow: 2px 2px 4px #888;
  font-size: 3vw;
  font-weight: 500;
}
