:root {
    --height: 60px;
    --booking-page-input-transition: border 100ms ease-in;
    --border-rad: 2vh
               
}

.booking-page-date-location-header {
    color: #FFF;
    text-shadow: 
        -.9px -.9px 0 #000,  
        .9px -.9px 0 #000,
        -.9px .9px 0 #000,
        .9px .9px 0 #000;

    width: 90vw;
    font-size: 7vw;
    margin-top: 7vh;
    margin-left: 4vw;
    font-weight: 900;
}


.booking-page-input {
    border: 1px solid #888;
    border-left: none;
    border-radius: 0 var(--border-rad) var(--border-rad) 0;
    height: var(--height);
    outline: none;
    padding-left: 2vw;
    width: 70vw;
    transition: var(--booking-page-input-transition);
}

.booking-page-input:focus {
    outline: none;
}

.booking-page-date-location-container {
    height: 80vh;
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.input-fields-container {
    background: rgba(255, 230, 255, 0.4);
    border: .5px solid #333;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2vh;
    border-radius: 4vw;
    box-shadow: 2px 2px 8px #888;
    width: 95vw;
    height: 55vh
}


div:has(> input[type='text']) {
    margin-top: 2vh;
}

/*****************************************************************************/
/*                                  Calendar                                 */
/*****************************************************************************/

.react-calendar { 
    width: 100vw !important;
    padding: 1rem;
    border-radius: 5px;
    color: #222;
    background: transparent;
    border: none;
}

.calendar-only-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw
}

.button-icons {
    width: 10vw;
    color: #555;
    height: 10vw;
    max-width: 50px;
    max-height: 50px;
    padding: .5rem;
}

.button-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon-with-outline {
    height: var(--height);
    border-radius: 2vh 0 0 2vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #888;
    border-right: none;
    transition: var(--booking-page-input-transition);
}

.book-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    position: absolute;
    bottom: 20px;
}


.button-small {
    position: relative !important;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px 15px 10px;
    border-radius: 1vw;
    text-align: center;
    font-size: 2.8vw;
    font-weight: 600;
    transition: background 0.5s ease;
}

.small-day-button-container {
    display: flex;
    flex-flow: row;
    width: 100vw;
    justify-content: space-evenly;
}
