:root {
  --input-container-width: 100vw;
  --ion-color-primary: #3880ff;
  --slider-width: 85vw;
  --weather-choose-option-max-width: 200px;
  --weather-choose-option-min-width: 60px;
  --weather-choose-option-max-height: 130px;
}

.font {
  color: #fff !important;
  text-shadow: -1.5px -1.5px 0 rgba(0, 0, 0, 0.5), 1.5px -1.5px 0 rgba(0, 0, 0, 0.5), -1.5px 1.5px 0 rgba(0, 0, 0, 0.5),
    1.5px 1.5px 0 rgba(0, 0, 0, 0.5) !important;
}

.hud-background {
    overflow: hidden;
}

.font-inverted {
  color: #222 !important;
  text-shadow: -0.5px -0.5px 0 rgba(255, 255, 255, 0.5), 0.5px -0.5px 0 rgba(255, 255, 255, 0.5),
    -0.5px 0.5px 0 rgba(255, 255, 255, 0.5), 0.5px 0.5px 0 rgba(255, 255, 255, 0.5) !important;
}

.search-bar {
  width: 85vw;
}

.page-content {
  display: flex;
  flex-direction: column;
  height: 80vh;
  gap: 2rem;
  align-items: center;
  margin: 4vh 0 1vh 0;
}

.step-two-heading-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0.65rem;
}

.step-two-heading {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0;
  position: relative;
  right: 2rem;
}

.booking-page-back-button {
  width: fit-content !important;
  color: black !important;
  height: fit-content;
  position: relative;
  right: 1rem;
  font-size: 1rem !important;
}

.input-container {
  width: var(--input-container-width);
  border-radius: 4vw;
}

.button-container {
  width: var(--input-container-width);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 0 2vh 0;
  padding: 0 1rem;
}

.weather-choose-container {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.weather-choose-text {
  font-size: 3.5vw;
  margin-top: 1vh;
  color: white;
}

.weather-choose-text-selected {
  font-size: 4vw;
  font-weight: bolder;
  margin-top: 1vh;
  color: rgba(0, 0, 0, 0.516);
}

.weather-choose-option {
  max-width: var(--weather-choose-option-max-width);
  min-width: var(--weather-choose-option-min-width);
  max-height: var(--weather-choose-option-max-height);
  background: rgba(100, 100, 100, 0.5);
  backdrop-filter: blur(2px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3em !important;
  color: white;
  width: 20vw;
  height: 22vh;
  text-align: center;
}

.weather-choose-option-selected {
  box-shadow: 0 0 0 0.2em rgba(255, 255, 255, 0.7) inset, 0 0 2em -0.3em var(--shadow) !important;
  width: 24vw;
}

.weather-icon {
  width: 60%;
}

.weather-slider {
  width: var(--slider-width);
}

.weather-slider-text {
  color: white;
  width: var(--slider-width);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1vh;
}

.slider-container {
  border-radius: 14px;
  width: var(--input-container-width);
  display: flex;
  margin-top: 2vh;
  flex-direction: column;
  align-items: center;
}

.book-button {
  position: relative !important;
  background: rgba(0, 0, 0, 0.7) !important;
  color: white;
  backdrop-filter: blur(2px);
  padding: 1rem 2rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 2px 2px 4px #888;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  font-size: 1rem;
  transition: background 0.5s ease;
}

.book-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.selector-container {
  width: 80vw;
}

ion-select {
  background: rgba(100, 100, 100, 0.15);
  padding: 0px 2.5vw 0px 2.5vw;
  height: 1.5vh;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content {
  --background: transparent;
  --background: linear-gradient(180deg, #a8c8ed 0%, rgba(118, 115, 220, 0.4) 100%), #ffffff;
}

ion-range {
  --bar-background: rgba(230, 224, 246, 0.5);
  --bar-background-active: #1e1e1e;
  --bar-height: 15px !important;
  --bar-background-active: rgba(110, 104, 126, 0.5);
  --knob-background: #fff;
  --knob-size: 5vw;
  --pin-background: #eee;
  --pin-color: #fff;
}

.range-bar-active {
  transition: width 2s ease-in-out !important;
}

.range-bar-active {
  bottom: 0px;
  width: auto;
  background: var(--bar-background-active);
  transition: width 0.1s ease-in-out;
}

.range-tick {
  background: #fff;
}

/* .no-scroll {
  --overflow: hidden;
} */

.no-animation,
.no-animation *,
.no-anisation::before,
.no-animation::after,
.no-animation *::before,
.no-animation *::after {
  animation: none !important;
  transition: none !important;
  transform: none !important;
}

.back-button {
  align-self: flex-start;
}
