:root {
  --booking-page-input-height: 65px;
  --booking-page-input-transition: border 100ms ease-in;
  --border-rad: 10px;
  --booking-page-input-width: 70vw;
  --booking-page-input-border: 1px solid #888;
}

.booking-page-date-location-header {
  color: #fff;
  text-shadow: -1.9px -1.9px 0 #000, 1.9px -1.9px 0 #000, -1.9px 1.9px 0 #000, 1.9px 1.9px 0 #000;
  width: 90vw;
  font-size: 7vw;
  margin-top: 7vh;
  margin-left: 4vw;
  font-weight: 900;
}
.booking-page-date-location-title {
  z-index: 1;
  /* font-size: clamp(1.2rem, 5vw, 2rem); */
  font-size: 5vw;
  margin: 0.5vh 0 0.5vh 0;
  padding: 0px 15px;
  font-weight: bold;
  position: relative;
  top: 1rem;
  margin-bottom: 1rem;
}
.booking-page-input {
  border: none;
  border-radius: 0 var(--border-rad) var(--border-rad) 0;
  height: var(--booking-page-input-height);
  outline: none;
  width: var(--booking-page-input-width);
  padding-left: 2vw;
  transition: var(--booking-page-input-transition);
}

.timeperiod-container {
  width: 85vw;
  border-radius: 12px;
  display: flex;
  gap: 0.5rem;
}

.timeperiod-button {
  border-radius: 12px;
  background-color: white;
  color: #555;
  min-width: 20vw;
  max-width: 3rem !important;
}

.segment-button-checked {
  background-color: #555;
  color: white;
  border: none;
  outline: none;
  --indicator-color: transparent;
}

.timeperiod-button p {
  margin: 0;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: none;
}

.time-period-icon {
  font-size: 1.5rem;
}

.dice-button {
  width: fit-content;
  height: auto;
  color: #555;
  position: absolute;
  right: 0.5rem;
  font-size: 1rem;
}

.dice-button::part(native) {
  padding: 0.5rem;
}

.booking-page-input:focus {
  outline: none;
}

.booking-page-date-location-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.input-fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4vw;
  width: 95vw;
  height: 65vh;
}

.step-heading {
  font-weight: bold;
  align-self: flex-start;
  margin: 2rem 0 0 2rem;
  font-size: 1.1rem;
}

form {
  position: relative;
}

.suggestion-list {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  border: 1px solid #888;
  border-radius: 0 0 var(--border-rad) var(--border-rad);
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 2px 2px 8px #aaa;
  background-color: #fff;
  color: black;

  position: absolute;
  top: calc(100% - 10px);
  left: 0;
  width: var(--booking-page-input-width);
  z-index: 10;
}

.booking-page-input:focus + .suggestion-list {
  display: block;
}

.suggestion-list li {
  padding: 10px 16px;
  cursor: pointer;
  border-top: 1px solid #eee;
  transition: background-color 0.2s ease;
}

.suggestion-list li:first-child {
  border-top: none;
}

.suggestion-list li:hover {
  background-color: #f5f5f5;
  font-weight: 600;
}

div:has(> input[type="text"]),
div:has(> select) {
  margin-top: 2vh;
}

div:has(> ion-select) {
  margin-top: 2vh;
}

/*****************************************************************************/
/*                                  Calendar                                 */
/*****************************************************************************/

.react-calendar {
  max-width: 85vw !important;
  max-height: 20rem;
  margin-top: 1rem;
  border-radius: 5px;
  color: #222;
  /* background: transparent; */
  border: none;
}

.slide-up-panel {
  height: fit-content !important;
}

.button-icons {
  width: 10vw;
  color: #555;
  height: 10vw;
  max-width: 50px;
  max-height: 50px;
  padding: 0.5rem;
}

.button-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
}

.icon-with-outline {
  height: var(--booking-page-input-height);
  border-radius: var(--border-rad) 0 0 var(--border-rad);
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--booking-page-input-transition);
}

/* .book-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
} */

.book-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  margin: 2.5rem 0;
}

.button-small {
  position: relative !important;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 10px 15px 10px;
  border-radius: 1vw;
  text-align: center;
  font-size: 2.8vw;
  font-weight: 600;
  transition: background 0.5s ease;
}

.small-day-button-container {
  display: flex;
  flex-flow: row;
  width: 100vw;
  justify-content: space-evenly;
}

ion-select {
  /* --placeholder-color: #971e49; */
  /* --placeholder-opacity: 1; */
  width: var(--booking-page-input-width);
  height: var(--booking-page-input-height);
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  background: #fff;
  border-radius: 0 var(--border-rad) var(--border-rad) 0 !important;
  transition: var(--booking-page-input-transition);
}

ion-select::part(placeholder) {
  /* font-size: 24px; */
  /* font-weight: 500; */
  font-color: black;
}

ion-select::part(text) {
  /* color: #545ca7; */
  float: left;
}

ion-select::part(icon) {
  opacity: 1;
}

.hidden {
  display: none;
}
