* {
    margin: 0;
    padding: 0;
}

.element {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%);
}

.elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.white {fill:#FFFFFF}
.gray {fill:#E0E0E0}
.dark-gray {fill:#EFEFEF}
.yellow {fill:#FFEB3B}
