:root {
    --hud-width: 50vw;
    --hud-height: 30vw;
    --hud-max-width: 600px;
    --hud-min-width: 300px;
    --hud-max-height: 320px;
    --hud-min-height: 200px;
}

.hud-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

#weather-hud {
    width: var(--hud-width);
    height: var(--hud-height);
    max-width: var(--hud-max-width);
    max-height: var(--hud-max-height);
    min-width: var(--hud-min-width);
    min-height: var(--hud-min-height);
    opacity: .9;
    z-index: 0;
}

.hud-contents {
    position: absolute;
    width: var(--hud-width);
    height: var(--hud-height);
    max-width: var(--hud-max-width);
    max-height: var(--hud-max-height);
    min-width: var(--hud-min-width);
    min-height: var(--hud-min-height);
    z-index: 2;
}

.weather-hud-grid {
    width: var(--hud-width);
    max-width: var(--hud-max-width);
    min-width: var(--hud-min-width);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: .2em;
    /* background-color: #2196F3; */
    padding: 10px;
    /* border: 1px solid black; */
}

.item1 {
    text-align: center;
    font-size: 1.7em;
    color: #FFF;
    grid-column-start: 4;
    grid-column-end: 6;
    text-align: center;
    /* border: 1px solid #FFF; */
    color: #E0E0E0;
}

.item2 {
    text-align: center;
    font-size: 1.4em;
    color: #FFF;
    grid-column-start: 4;
    grid-column-end: 6;
    text-align: center;
    /* border: 1px solid #FFF; */
    color: #E0E0E0;
}

.item3 {
    /* margin-top: -7vh; */
    font-size: 2rem;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 7;
    grid-column-end: 9;
    z-index: 3;
    /* border: 1px solid #FFF; */
}

.item4 {
    grid-row-start: 0;
    grid-row-end: 5;
    grid-column-start: 6;
    grid-column-end: 40;
    z-index: 3;
    color: #E0E0E0;
}

.hud-container {
    display: flex;
    flex-direction: column;
}

.hud-temperature-text {
    background: linear-gradient(250.02deg, rgba(255, 255, 255, 0.91) 8.16%, rgba(255, 255, 255, 0.54) 37.22%, #FFFFFF 51.09%, rgba(255, 255, 255, 0.46) 90.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 0.03em;
}
