.booking-details-container {
  padding-left: 1rem;
}

.booking-details-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.booking-details-back-button {
  width: fit-content;
  color: black;
  padding-top: 1rem;
  position: relative;
  left: -1rem
}

.invisible-button {
  --background: transparent;
  --border-color: transparent;
  --box-shadow: none;
  box-shadow: none;
}

.booking-details-title {
  font-size: 5vw;
  margin: 0.5vh 0 0.5vh 0;
  font-weight: bold;
  position: relative;
  top: 1rem;
}

.booking-details-card {
  background: transparent;
  outline-style: solid;
  width: 90vw;
  color: white;
  position: relative;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.booking-details-details {
  display: inline-block;
  width: 60%;
  position: relative;
  bottom: 20%;
  vertical-align: top;
  padding-top: 1rem
}

.booking-details-details__title {
  font-weight: bold;
}

.booking-details-details__subtitle {
  color: #5f5f5f;
}

.booking-details-img-container {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.booking-details-img {
  width: 100%;
}

.enjoy-weather-card {
  text-align: center;
  border-radius: 24px;
  margin: auto;
  margin-top: 2rem;
  width: 80%;
  padding: 12px;
  box-shadow: none;
  font-weight: bold;
  color: black;
}


.share-card {
  text-align: left;
  border-radius: 10px;
  color: black;
  margin-top: 2rem;
  background-image: url("../../assets/share_now.png");
  background-size: cover;
  position: relative;
  background-position: left 90% bottom 50%;
  white-space: normal;
  padding: 1rem 0.8rem;
}

.share-card__title {
  font-size: 1rem;
  font-weight: bolder;
  width: 70%;
}

.share-button {
  border-radius: 20px;
  font-weight: bolder;
  color: black;
  --background: white;
  --border-radius: 20px;
}

.thumb-selected {
  color: #3880ff;
}

.thumb-button {
  color: grey;
  width: fit-content;
}

.thumb-group {
  display: flex;
  justify-content: center;
  padding-right: 0.5rem;
}

#feedback-card {
  width: 100%;
  text-align: left;
  padding: 8px 0;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.feedback-title {
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
  padding: 0 0 0 0.7rem;
}

.coffee-card {
  text-align: left;
  border-radius: 10px;
  width: 75vw;
  color: black;
  margin-top: 2rem;
  background-image: url("../../assets/coffee_banner.png");
  background-size: cover;
  position: relative;
  background-position: left 70% bottom 50%;
  background-color: #addec9;
  padding: 1rem 0.8rem;
}
