/*************************************************************************/
/*                               page fonts                              */
/*************************************************************************/

.grid-container__wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    flex-direction: column;
}

.grid-container__wrapper > * {
    margin: 1vh 0;
}

.statistics-page__number-of-bookings__wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
}

.statistics-page__number-of-bookings {
    display: flex;
    flex-direction: column;
    background: #EEE;
    padding: 10px;
    border-radius: 12px;
}
.statistics-page__number-of-bookings__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.statistics-page__number-of-bookings__wrapper>* {
    margin: 0 .5vw;
}
.statistics-page__number-of-bookings__content>img {
    height: 30px;
    width: auto;
    background: #EEE;
    border-radius: 100%;
    padding: 2px;
}

.statistics-page__large-text {
    font-weight: bold;
      font-size: 2rem;
}

.statistics-page__small-text {
    font-size: 10px;
}

.statistics-page__number-of-bookings-description {
    text-align: center;
    font-size: .7rem;
    color: #888;
}

.svg-class {
    width: 1.5em; 
    height: 1.5em;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
}

.name-field{
    background-color: white;
    border: none;
    border-bottom: #2e2e2e;
    border-width: 1px;
    width: 20ch;
}

.name-field:disabled{
    background-color: transparent;
    border: none;
}

.welcome-user {
    padding-top: 10px;
    padding-left: 15px;
}

.statistic-page-title {
    z-index: 1;
    font-size: 5vw;
    margin: 0.5vh 0 0.5vh 0;
    padding: 0px 15px;
    font-weight: bold;
    position: relative;
    top: 1rem;
    margin-bottom: 1rem;
}

.step-heading {
    font-weight: bold;
    align-self: flex-start;
    margin: 2rem 0 0 2rem;
    font-size: 1.1rem;
}
/*****************************************************************************/
/*                               Loading screen                              */
/*****************************************************************************/

.hidden {
    display: none;
}

/*Source: https://stackabuse.com/how-to-create-a-loading-animation-in-react-from-scratch/*/
.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #2e2e2e transparent #2e2e2e transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}