.thumb-selected {
  color: #3880ff;
}

.thumb-button {
  color: grey;
  width: fit-content;
  display: inline-block;
  margin: 0;
}

.thumb-group {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

#feedback-card {
  width: 90%;
  text-align: left;
  padding: 8px 0;
  margin-top: 0;
}

#feedback-content {
  font-size: 0.8rem;
  width: 70%;
  display: inline-block;
  position: relative;
  color: black;
  font-weight: bold;
  vertical-align: middle;
  padding: 0;
  padding-left: 0.7rem;
}

.coffee-card {
  text-align: left;
  border-radius: 10px;
  width: 75vw;
  color: black;
  margin-top: 2rem;
  background-image: url("../assets/coffee_banner.png");
  background-size: cover;
  position: relative;
  background-position: left 70% bottom 50%;
  background-color: #addec9;
  padding: 0.5rem 0.8rem;
}
