.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.imageContainer {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.weatherBookingCard {
    width: 90vw;
    padding: 10px;
}
