.weather-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.weather-list {
  background: transparent;
}

.imageContainer {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.weather-booking-item {
  --background: transparent;
}

.weather-booking-card {
  width: 90vw;
  padding: 10px;
  margin: 1vh 0 1vh 0;
  background: white;
  border-radius: 20px;
  box-shadow: 1px 2px 5px #888;
}

.container-group-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 2vw;
}

.container-group-text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.container-root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-title {
  font-weight: 700;
  font-size: 4vw;
  margin: 0.3vh 0 0.3vh 0;
}

.card-subtitle {
  margin: 0.3vh 0 0.3vh 0;
  font-weight: 500;
  font-size: 3.5vw;
}

.card-text {
  margin: 0.3vh 0 0.3vh 0;
  font-size: 3vw;
}

.card-weather-image {
  width: 15vw;
  height: auto;
}

.card-arrow-image {
  width: 2vw;
  height: auto;
  margin-right: 4vw;
}
