.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.weather-booking-card {
    width: 90vw;
    padding: 10px;
    margin: 1vh 0 1vh 0;
    /* box-shadow: 1px 2px 5px #888 !important; */
}

.container-group-right {
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 2vw;
}


.container-group-text {
    /* background: red; */
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.container-root {
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-title {
    font-weight: 700;
    font-size: 5vw;
    margin: .5vh 0 .5vh 0;
}

.card-subtitle {
    margin: .5vh 0 .5vh 0;
    font-weight: 500;
    font-size: 3.5vw;
}

.card-text {
    margin: .5vh 0 .5vh 0;
    font-size: 3vw;
}

.card-weather-image {
    width: 10vw;
    height: auto;
}

.card-arrow-image {
    width: 2vw;
    height: auto;
    margin-right: 4vw;
}


ionic-list {
    --background: transparent;
}
